<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759862519159-gitt6df2b7jg83iqai5o6ngrhlpqve0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759862519159-gitt6df2b7jg83iqai5o6ngrhlpqve0b</string>
	<key>API_KEY</key>
	<string>AIzaSyDmB-89e0y80wamp-U9O8aKCUuDcgVp-lE</string>
	<key>GCM_SENDER_ID</key>
	<string>759862519159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agricSolution</string>
	<key>PROJECT_ID</key>
	<string>agric-solution</string>
	<key>STORAGE_BUCKET</key>
	<string>agric-solution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759862519159:ios:372a0673aa5c36c4272d72</string>
</dict>
</plist>